<mat-toolbar color="primary" class="app-toolbar">
  <span class="title">Loja de Produtos</span>
  <span class="spacer"></span>


  <a mat-button routerLink="/login" routerLinkActive="active-link">Login</a>
  <a mat-button routerLink="/register" routerLinkActive="active-link">Cadastro</a>
  <a mat-button routerLink="/products" routerLinkActive="active-link">Produtos</a>
  <a mat-button routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
</mat-toolbar>


<router-outlet></router-outlet>